<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Chapter4 modeltest6</title>
</head>
<body>
    <div id="modeltest6">
        <label>
            <input type="radio" value="red" v-model="picked">적
        </label> <br>
        <label>
            <input type="radio" value="green" v-model="picked">녹
        </label> <br>
        <label>
            <input type="radio" value="blue" v-model="picked">청
        </label> <p></p>
        {{picked}} 이 선택됨
    </div>


    <script>
        new Vue({
            el:'#modeltest6',
            data:{
                picked:'red'
            }
        })
    </script>
</body>
</html>