<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Chapter8 computedtest5</title>
</head>
<body>
    <div id="computedtest5">
        <p v-bind:style="{backgroundColor: mixColor}">{{mixColor}}</p>
        <input type="range" v-model="R" min="0" max="255"><br>
        <input type="range" v-model="G" min="0" max="255"><br>
        <input type="range" v-model="B" min="0" max="255"><br> 
    </div>
    
    <script>
        new Vue({
            el:'#computedtest5',
            data:{
                R:255,
                G:150,
                B:100
            },
            computed:{
                mixColor:function(){
                    var ans = "RGB("+this.R+","+this.G+","+this.B+")";
                    return ans;
                }
            }
        })
    </script>
</body>
</html>