<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="./tabletest.css">
    <title>Chapter6 practice</title>
</head>
<body>
    <div id="chap6prac">
        <h1>숫자 배열 조작과 구구단 출력</h1>
        <ul>
            <li v-for="(item,index) in myArray">
                    {{item}}
                <button class="btn__head" v-on:click="changeNum(index)">변경</button>
                <button class="btn__head" v-on:click="deleteNum(index)">삭제</button>
            </li>
            <button class="btn__mid" v-on:click="addNum">추가</button>
            <button class="btn__mid" v-on:click="sortNum(myArray)">소트</button>
            <button class="btn__mid" v-on:click="showGugu">구구단 보이기</button>
        </ul>
        <ul v-if="checkgugu">
            <li v-for="index in myArray">
                <p v-for="number in 9">
                    {{index}} x {{number}} = {{index*number}}
                </p>
            </li>
        </ul>
        
    </div>

    <script>
        new Vue({
            el: '#chap6prac',
            data:{
                myArray:[2,3,4,5,6,7,8,9],
                checkgugu:false
            },
            methods:{
                changeNum:function(index){
                    this.myArray.splice(index,1,this.myArray[index]+1);
                },
                addNum:function(){
                    this.myArray.push(1);
                },
                deleteNum:function(index){
                    this.myArray.splice(index,1);
                },
                sortNum:function(list){
                    list.sort(function(a,b){
                        return (a<b ? -1:1);
                    });
                },
                showGugu:function(){
                    if(this.checkgugu==true)
                    {
                        this.checkgugu=false;
                    }
                    else this.checkgugu=true;
                }
            }
        })
    </script>
</body>
</html>