table{
    width:100%;
    text-align:left;
}
table th{
    padding:12px;
    border-bottom:2px solid darkgray;
}
table td{
    padding:12px;
}
table tr:nth-of-type(even) {
    background-color:rgba(0,0,255,0.1);
}

button{
    margin-bottom: 0.5px;
    margin-top: 0.5px;
    height: 30px;
    border: 0.2px solid #0000ff;
    border-radius: 5px;
    background-color: #4f5ff7;
    color:white;
}